<div class="erb">
  <%= render 'shared/header' %>
  <div class="container">
    <h1 class="title">Log in</h1>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <div class="box">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <p>Email</p>
      <%= f.email_field :email, class: 'form-control' %>
      <p>Password</p>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.submit "Log in", class: "btn" %>
      <p class="link"><%= link_to "サインアップはこちらから", signup_path, class: "link" %></p>
      </div>
    <% end %>
  </div>
</div>
