<div class="container sumaho_mt65">
  <h1>Update your profile picture</h1>
  <div class="edit_container">
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="form_item">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'text_form' %>
      </div>
      <div class="form_item">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'text_form' %>
      </div>
      <div class="form_item">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'text_form' %>
      </div>
      <div class="form_item">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'text_form' %>
      </div>
      <div class="form_item">
      <%= f.label :画像を変更 %>
        <span class="image">
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        </span>
      </div>
      <p>
        <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "account-image", id: "preview", style: "max-width:200px; max-height:200px;" %>
        <% end %>
      </p>
      <div class="form_item">
      <%= f.submit "Save changes", class: "submit_btn", id: "submit_button" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'edit_page' %>
