<div class="erb">
  <%= render 'shared/header' %>
  <div class="container">
  <h1 class="title">Sign up</h1>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="box">
      <%= render 'shared/error_messages' %>
      <p>Name</p>
      <%= f.text_field :name %>
      <p>Email</p>
      <%= f.email_field :email %>
      <p>Password</p>
      <%= f.password_field :password %>
      <p>Confirmation</p>
      <%= f.password_field :password_confirmation %>
      <span class="image">
        <%= f.file_field :avatar %>
      </span>
      <%= f.submit "Create my account", class: "btn" %>
      <p><%= link_to "ログインはこちらから", login_path ,class: "link" %></p>
    </div>
  </div>
  <% end %>
</div>

<%= stylesheet_pack_tag 'layout' %>