<div class="erb top">
  <div class="top-header">
    <div class="top-header-left">
      <div>Share Shelf</div>
      <%= link_to "About", about_path %>
    </div>
    <div class="top-header-right">
      <%= link_to "Log in", login_path %>
      <%= link_to "Sign up", signup_path %>
    </div>
  </div>
  <div class="background">
    <div class="top_text">
      <h1 class="top-title">Share Shelf</h1>
      <p class="top-subtitle">読書を共有する本棚アプリ</p>
    </div>
  </div>
  <div class="block">
    <div class="top-block-text">
      <h2>本から生まれるコミュニケーション</h2>
      <p>Share Shelfは本棚アプリのように使えるだけでなく、友達や家族が最近何の本を読んだのか、どんな本に興味があるのかが分かります。
      本好き同士の交流がより深まって欲しいという思いからこのサービスを作りました。</p>
      <%= link_to "詳しくはこちらへ", about_path %>
    </div>
    <div class="image">
      <div class="top-block-image">
        <%= image_tag 'book_people.jpg' %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>